<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/css/all.min.css">

<ul class="social-media-list">
    {%- for entry in site.minima.social_links -%}
    <li>
        <a rel="me" href="{{ entry.url }}" target="_blank" title="{{ entry.title }}">
            <span class="grey fa-brands fa-{{ entry.icon }} fa-lg"></span>
            {{ entry.title }}
        </a>
    </li>
    {%- endfor -%}
    {% unless site.minima.hide_site_feed_link %}
    <li>
        <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}" target="_blank"
           title="Subscribe to syndication feed">
            <span class="grey fa-solid fa-{{ site.feed.icon | default: 'rss' }} fa-lg"></span>
            {{ site.feed.title | default: 'RSS' }}
        </a>
    </li>
    {%- endunless %}
</ul>
